{% extends 'base.html' %}

{% block content %}
      <div style="text-align:center;">
      <img src="https://picsum.photos/id/237/200/300" style="margin-top:5px;">
      <p style="font-size:20px;">ljy Blog입니당.</p></td>
      
      </div>
      {% for blog in blogs.all %}
      <div class="container" style="border:1px solid red; margin-top:10px;">
        <h3 style="margin-top: 10px;">{{ blog.title }}</h3>
        <p>{{ blog.pub_date }}</p>
        <p>{{ blog.summary }}<a href={{blog.id}}>....more</a></p>
      </div>
      {% endfor %}
{% endblock %}