{% extends 'base.html' %}


{% block content %}
  <div style="align-content: center; margin-top: 80px;margin-left: 500px;">
      
  <form action="{% url 'create' %}" >
    <img src="https://picsum.photos/id/237/200/300" style="float: left; width: 200px; height: 330px; margin-right: 20px;">
	  <h4>새로운 게시물 작성하기 </h4>
	  <input type="text" name="title" placeholder="제목을 입력해주세요" style="width: 820px;">
	  <br>
	  <br>
	  <textarea cols=100 rows=10 name="body" placeholder="내용을 입력해주세요"></textarea>
	  <br>
    <br>
    <div style="margin-left: 850px;">
	  <input class="btn btn-dark" type="submit" value="작성하기">
    <a href="../" class="btn btn-dark">뒤로가기</a>
    </div>
  </form>
  </div>
{% endblock %}

 
    